{% extends 'base.html' %}

{% block meta %}
<!-- <!doctype html>
<html lang="en"> -->
<title>Info Kebutuhan Pokok</title>
{% endblock meta %}

{% block content %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" type="text/css">

<body>

    <div class="container">
        <div class="row mb-3 mt-3">
            <div class="col">
                <h1>Kebutuhan Pokok</h1>
            </div>
        </div>
    </div>


    
    <div class="container">
        <div class="row g-3">
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSChAH_q9R6nBIe6Yzv0wKqLUqgCzyGD5dsaw&usqp=CAU"class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Ayam Potong</h5>
                        <h6 class="card-title">Rp. 23.000 / KG</h6>
                        <a href="#" class="btn btn-primary">Beli Sekarang</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="https://akcdn.detik.net.id/visual/2021/06/15/ilustrasi-daging-sapi_169.jpeg?w=650"class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Daging Sapi</h5>
                        <h6 class="card-title">Rp. 87.000 / KG</h6>
                        <a href="#" class="btn btn-primary">Beli Sekarang</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="https://akcdn.detik.net.id/visual/2022/02/22/ilustrasi-minyak-goreng_169.jpeg?w=650"class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Minyak Goreng</h5>
                        <h6 class="card-title">Rp. 31.000 / KG</h6>
                        <a href="#" class="btn btn-primary">Beli Sekarang</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="https://www.superindo.co.id/images/news/image-650x460px-(bayam).jpg"class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Bayam Hijau</h5>
                        <h6 class="card-title">Rp. 5000 / ikat</h6>
                        <a href="#" class="btn btn-primary">Beli Sekarang</a>
                    </div>
                </div>
            </div>

            
            
            <div class="containerSolo">
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
<script>
    function mintaData() {
        $.ajax({
            type: 'GET',
            url: "/add-kebutuhan",
            data: {

            },
            datatype: "json",
            success: nampilinData
        })
    }
    function nampilinData(data) {
        var dynamic = document.querySelector('.containerSolo');
        var content = ''
        for (var i = 0; i < data.length; i++) {
            var data1 = data[i]
            var item = data1["item"]
            var harga = data1["harga"]
            var image = data1["image"]
            
            content += '<div class="col-12 col-md-6 col-lg-4"><div class="card"><img src="' + item + '"class="card-img-top" alt="' +harga+ '"><div class="card-body"><h5 class="card-title">' + image + '</h5><p class="card-text">' 
        }
        dynamic.innerHTML = content;
        console.log(data)
    }
    $(document).ready(mintaData);
</script>

</html>

{% endblock content %}