body {
    align-items: center;
    justify-content: center;
    background-color: #EFFFFF;
}

.login,
.register {
    background: linear-gradient(45deg,  rgba(185, 66, 245, 0.8) 0%,rgba(66, 81, 245, 0.4) 100%) no-repeat fixed;
}

.navbar-custom {
    background-color: #D1B9ED ;
    color: black
}

.marg {
    margin-right: .75rem;
    margin-left: .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featurette-heading {
    font-size: 200%;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

.welcome {
    max-height: 400px;
}

@media screen and (max-width: 992px) {
    .card-img {
        max-width: 100px; 
        max-height: 100px
    }
}