{% extends 'base.html' %}

{% block meta %}
<title>Tambah Tempat Wisata</title>
{% endblock meta %}

{% block content %}
<div class="row-center" style="height: 100px; display: flex; justify-content: center; align-items: center; background-color: black;">
    <strong style="font-size: 30px; color: white">Tambah Tempat Wisata</strong>
</div>
<br>

<div class="add-tempat-wisata">

    <form method="POST" id="add-tempat-wisata">
        {% csrf_token %}
        <div class="card border-dark" style="margin:auto; width:60%; padding:10px">
            <strong class="card-title" style="font-size: 25px">Tambah tempat wisata:</strong>
            <table>
                <tr>
                    <td>Nama Tempat Wisata: </td>
                    <td><input type="text" name="wisata_title" placeholder="Nama" class="form-control"></td>
                </tr> 
                <tr>
                    <td>Deskripsi Singkat: </td>
                    <td>
                        <textarea name="wisata_highlight" placeholder="Deskripsi" class="form-control"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Nama referensi (untuk fungsi add/delete): </td>
                    <td><input type="text" name="ref_name" placeholder="nama_referensi" class="form-control"></td>
                </tr>
                <tr>
                    <td>File gambar wisata (ukuran 4x3): </td>
                    <td><input type="file" name="image"></td>
                </tr> 
            </table>
            <br>
            <button class="btn btn-primary" type="submit" style="align-self: center; width: 100%;">Tambah</button>
        </div>
    </form>

</div>

<script>
    $(document).ready(function(){
        $('#add-tempat-wisata').submit(function() {
            // create an AJAX call
            $.ajax({
                data: $(this).serialize(), // get the form data
                method: 'POST', // GET or POST
                url: "{% url 'Admin:tempat_wisata_baru' %}",
                // on success
                success: function(response) {
                    alert(response);
                }
            });
            return false;
        });
    });
</script>
{% endblock content %}
