{% extends 'base.html' %}

{% block meta %}
<title>Tambah Rute</title>
{% endblock meta %}

{% block content %}
<div class="row-center" style="height: 100px; display: flex; justify-content: center; align-items: center; background-color: black;">
    <strong style="font-size: 30px; color: white">Tambah Rute</strong>
</div>
<br>

<div class="add-route">

    <form method="POST" id="add-route">
        {% csrf_token %}
        <div class="card border-dark" style="margin:auto; width:60%; padding:10px">
            <strong class="card-title" style="font-size: 25px">Tambah rute baru disini:</strong>
            <table>
                <tr>
                    <td>Nama referensi transportasi (lihat di django admin): </td>
                    <td><input type="text" name="ref_name_transportation" placeholder="nama_referensi_transportasi" class="form-control"></td>
                </tr> 
                <tr>
                    <td>Rute: </td>
                    <td><input type="text" name="from_to" placeholder="lokasi1 - lokasi2" class="form-control"></td>
                </tr>
                <tr>
                    <td>Nama referensi (untuk fungsi add/delete): </td>
                    <td><input type="text" name="ref_name" placeholder="nama_referensi" class="form-control"></td>
                </tr>
            </table>
            <br>
            <button class="btn btn-primary" type="submit" style="align-self: center; width: 100%;">Tambah</button>
        </div>
    </form>

</div>

<script>
    $(document).ready(function(){
        $('#add-route').submit(function() {
            // create an AJAX call
            $.ajax({
                data: $(this).serialize(), // get the form data
                method: 'POST', // GET or POST
                url: "{% url 'Admin:add_route' %}",
                // on success
                success: function(response) {
                    alert(response);
                }
            });
            return false;
        });
    });
</script>
{% endblock content %}