{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Admin Page</title>
{% endblock meta %}

{% block content %}
<div class="card text-white bg-dark mb-3 transform transition duration-500 hover:scale-105 flex-auto" style="width: 17rem;">
    <img class="card-img-top" src="{% static 'images/usaha-perdagangan.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pendaftaran Usaha</h5>
      <a href="{% url 'Admin:list_pendaftaran_diajukan' %}" class="btn btn-primary">Lihat List Pendaftaran</a>
    </div>
  </div>
<div class="card text-white bg-dark mb-3 transform transition duration-500 hover:scale-105 flex-auto" style="width: 17rem;">
    <img class="card-img-top" src="https://t4.ftcdn.net/jpg/02/55/73/91/360_F_255739172_533jjNvdeTQFm1gtkDcPyd3RSKTMe5Ta.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tambah Berita</h5>
      <a href="{% url 'Admin:add_berita' %}" class="btn btn-primary">Tambah</a>
    </div>
  </div>

{% endblock content %}