{% extends 'base.html' %}

{% block meta %}
<title>Hapus Transportasi Umum</title>
{% endblock meta %}

{% block content %}
<div class="row-center" style="height: 100px; display: flex; justify-content: center; align-items: center; background-color: black;">
    <strong style="font-size: 30px; color: white">Hapus Transportasi Umum</strong>
</div>
<br>

<div class="delete-transportation">
    <div class="card border-dark" style="margin:auto; width:60%; padding:10px">
        <div class="card-body">
            <h4 class="card-title" style="font-size: 25px; font-weight: bold; padding-bottom: 5px">Hapus transportasi disini:</h4>
            <form method="POST" id="delete-transportation">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button class="btn btn-danger" type="submit" style="align-self: center; width: 100%; padding-bottom: 5px; background-color: #dc3545">Hapus</button>
            </form>
        </div>
    </div>
    <br>
</div>

<script>
    $(document).ready(function(){
        $('#delete-transportation').submit(function() {
            // create an AJAX call
            $.ajax({
                data: $(this).serialize(), // get the form data
                method: 'POST', // GET or POST
                url: "{% url 'Admin:delete_transport' %}",
                // on success
                success: function(response) {
                    alert(response);
                },
                error: function(response) {
                    alert("Penghapusan transportasi gagal!")
                }
            });
            return false;
        });
    });
</script>
{% endblock content %}