{% extends 'base.html' %}

{% block meta %}
<title>List Pendaftaran Pelaku Usaha</title>
{% endblock meta %}

{% block content %}
<head>
    <script>
        $(document).ready(function(){
          $.get('pendaftaran-pelaku-usaha-json', function(data){
            for (let i = 0; i < data.length; i++){
                console.log(data[i])
                if (data[i].fields.status  == 'Diterima'){
                    $('#list-pendaftaran').append(`<div id="${data[i].pk}--daftar" class="card text-white bg-dark mb-3 transform transition duration-500 hover:scale-105 flex-auto" style="max-width: 17rem; min-width: 17rem;">
                      <div class="card-header text-white bg-dark mb-3"> ${data[i].fields.status}  -  ${data[i].fields.namaPemilik}
                      <div class="card-body text-white bg-dark mb-3">
                        <h4 class="card-title text-white bg-dark mb-3" style="text-align: center;">${data[i].fields.nik}</h4>
                        <p class="card-text text-white bg-dark mb-4" style="text-align: center;">${data[i].fields.alamatPemilik}</p>
                        <p class="card-text text-white bg-dark mb-4" style="text-align: center;">${data[i].fields.nomorTeleponPemilik}</p>
                      </div>
                      </div>
                      </div>
                    </div>`)
                }
            }
          })
        })
    </script>
</head>

<body>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-3">
          <li class="page-item"><a class="page-link" href="{% url 'Admin:list_pendaftaran_pelaku_usaha_diproses' %}">Diproses</a></li>
          <li class="page-item"><a class="page-link" href="{% url 'Admin:list_pendaftaran_pelaku_usaha_diterima' %}">Diterima</a></li>
          <li class="page-item"><a class="page-link" href="{% url 'Admin:list_pendaftaran_pelaku_usaha_ditolak' %}">Ditolak</a></li>
        </ul>
      </nav>

    <div class="items-center flex justify-center">
      <div class="grid gap-4 grid-cols-1 sm:grid-flow-cols-1 md:grid-cols-3 lg:grid-cols-4 m-4" id="list-pendaftaran"></div>
    </div>
</body>

{% endblock content %}
