{% extends 'base.html' %}

{% block meta %}
<title>List Pendaftaran Pelaku Usaha</title>
{% endblock meta %}

{% block content %}
<head>
    <script>
        $(document).ready(function(){
          $.get('pendaftaran-pelaku-usaha-json', function(data){
            for (let i = 0; i < data.length; i++){
                if (data[i].fields.status  == 'Diproses'){
                    $('#list-pendaftaran').append(`<div id="${data[i].pk}--daftar" class="card text-white bg-dark mb-3 transform transition duration-500 hover:scale-105 flex-auto" style="max-width: 17rem; min-width: 17rem;">
                      <div class="card-header text-white bg-dark mb-3"> ${data[i].fields.status}  -  ${data[i].fields.namaPemilik}
                      <div class="card-body text-white bg-dark mb-3">
                        <h4 class="card-title text-white bg-dark mb-3" style="text-align: center;">${data[i].fields.nik}</h4>
                        <p class="card-text text-white bg-dark mb-4" style="text-align: center;">${data[i].fields.alamatPemilik}</p>
                        <p class="card-text text-white bg-dark mb-4" style="text-align: center;">${data[i].fields.nomorTeleponPemilik}</p>
                        <div class="container text-white bg-dark" style="text-align: center;">
                          <a><button class="button-delete bg-green-600 mr-3"style="width: 75px; height: 30px" ><a onclick="setujui(${data[i].pk})">Setujui</a></button></a>
                          <a><button class="button-delete bg-red-600"style="width: 75px; height: 30px" ><a data-bs-toggle="modal" data-bs-target="#AlasanTolakModal" onclick="Tolak(${data[i].pk})">Tolak</a></button></a>
                        </div>
                      </div>
                      </div>
                      </div>
                    </div>`)
                }
            }
          })

          setujui = (pkPemohon) => {
            $.ajax({
              url: `/Admin/set-diterima-pelaku-usaha/${pkPemohon}`,
              type:  'GET',
              success: function(response){
                $(`#${pkPemohon}--daftar`).remove()
              }
            })
          }

          var tempPermohonan = 0;
          Tolak = (pkPemohon) => {
            tempPermohonan = pkPemohon
          }

          $('#submit').click(function(){
            if ($('#AlasanDitolak').val() == ''){
              window.alert('Mohon Isi Alasan Permohonan Ditolak!')
            }else{
              $.ajaxSetup({
                  data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
              });

              $.ajax({
                  url:`set-ditolak-pelaku-usaha/${tempPermohonan}`,
                  data:{AlasanDitolak: $('#AlasanDitolak').val()},
                  type: 'POST',
                  success: function(response){
                    $(`#${tempPermohonan}--daftar`).remove()
                  }
              })
            }
            $('#AlasanDitolak').val('')
          })
        })
    </script>
</head>

<body>
    <nav aria-label="Page navigation example">
      <div class="justify-content-center mt-3" style="text-align: center;">
        <a class="hover:text-slate-200" href="{% url 'Admin:show_admin_page' %}">
          <button class="bg-zinc-800 hover:bg-zinc-700 hover:text-slate-200 text-white font-bold py-2 px-4 rounded-full">
            Kembali Ke Halaman Utama
          </button>
        </a>  
      </div>
        <ul class="pagination justify-content-center mt-3">
          <li class="page-item"><a class="page-link" href="{% url 'Admin:list_pendaftaran_pelaku_usaha_diproses' %}">Diproses</a></li>
          <li class="page-item"><a class="page-link" href="{% url 'Admin:list_pendaftaran_pelaku_usaha_diterima' %}">Diterima</a></li>
          <li class="page-item"><a class="page-link" href="{% url 'Admin:list_pendaftaran_pelaku_usaha_ditolak' %}">Ditolak</a></li>
        </ul>
      </nav>
    
      <div class="modal fade" id="AlasanTolakModal" tabindex="-1" role="dialog" aria-labelledby="AlasanTolakModal" aria-hidden="true">
        <div class="modal-dialog bg-dark" role="document">
          <div class="modal-content bg-dark">
            <div class="modal-header">
              <h5 class="modal-title text-white font-bold" id="AlasanTolakModal">Alasan Permohonan Ditolak</h5>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <input id="AlasanDitolak" class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-zinc-800 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="AlasanDitolak" name="AlasanDitolak" placeholder="Alasan Ditolak">
            </div>
            <div class="modal-footer">
                <button id="submit" type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>

    <div class="items-center flex justify-center">
      <div class="grid gap-4 grid-cols-1 sm:grid-flow-cols-1 md:grid-cols-3 lg:grid-cols-4 m-4" id="list-pendaftaran"></div>
    </div>
</body>

{% endblock content %}
