{% extends 'base.html' %}

{% block meta %}
<title>List Saran</title>
{% endblock meta %}

{% block content %}
<head>

    <script>
        $(document).ready(function(){
          $.get('/saran-pembangunan-kota/saran-json/', function(data){
            console.log(data)
            for (let i = 0; i < data.length; i++){
                if (data[i].fields.status_pengaduan  == false){
                    $('#list-pendaftaran').append(`<div id="${data[i].pk}--pengaduan" class="card text-white bg-dark mb-3 transform transition duration-500 hover:scale-105 flex-auto" style="max-width: 17rem; min-width: 17rem;">
                      <div class="card-header text-white bg-dark mb-3"> ${data[i].fields.judul_pengaduan}
                      <div class="card-body text-white bg-dark mb-3">
                        <h4 class="card-title text-white bg-dark mb-3" style="text-align: center;">Deskripsi Pengaduan: ${data[i].fields.deskripsi_pengaduan}</h4>
                        <p class="card-text text-white bg-dark mb-4" style="text-align: center;">Tanggal Pengaduan: ${data[i].fields.tanggal_pengaduan}</p>
                      </div>
                      </div>
                      </div>
                    </div>`)
                }
            }
          })
        })
    </script>
</head>
<body>
  <nav class="navbar navbar-custom">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">SISOLO</a>
    
        <div class="navbar-right">
            
            <div class="modal fade" id="nomord" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content" style="color:black;">
                        <div class="modal-header">
                            <h5 class="modal-title">Nomor Darurat</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <a href="tel:+62-271712600">Poltabes Solo: (0271)712600</a>
                            </div>
                            <div>
                                <a href="tel:+62-119">Ambulans SPGDT: 119</a>
                            </div>
                            <div>
                                <a href="tel:+62-113">Pemadam Kebakaran: 113</a>
                            </div>
                            <div>
                                <a href="tel:+62-271722091">Gangguan Listrik PLN: (0271)722091</a>
                            </div>
                            <div>
                                <a href="tel:+62-271714039">Stasiun Solo Balapan: (0271)714039</a>
                            </div>
                            <div>
                                <a href="tel:+62-271738900">Terminal Tortonadi: (0271)738900</a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-black" data-bs-dismiss="modal">Close</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            
            <a class="btn btn-danger btn-sm btn-outline-secondary" style="margin:5px; color: white;" data-bs-toggle="modal" data-bs-target="#nomord">Nomor Darurat</a>   
            
            <a class="btn btn-sm btn-outline-secondary" style="margin:5px; color: black;" href="{% url 'Admin:show_admin_page' %}" >Halaman Utama</a>
            
            <a class="btn btn-sm btn-outline-secondary" style="margin:5px; color: black;" href="{% url 'sisolo:logout_user' %}" >Logout</a>
        </div>
    </div>
</nav>

    <div class="items-center flex justify-center">
      <div class="grid gap-4 grid-cols-1 sm:grid-flow-cols-1 md:grid-cols-3 lg:grid-cols-4 m-4" id="list-pendaftaran"></div>
    </div>
</body>

{% endblock content %}
