{% extends 'base.html' %}

{% block meta %}
<title>Pengaturan Info Transportasi Umum</title>
{% endblock meta %}

{% block content %}
<nav aria-label="Page navigation example">
    <div class="justify-content-center mt-3" style="text-align: center;">
        <a class="hover:text-slate-200" href="{% url 'Admin:show_admin_page' %}">
            <button class="bg-zinc-800 hover:bg-zinc-700 hover:text-slate-200 text-white font-bold py-2 px-4 rounded-full">
                Kembali Ke Halaman Utama
            </button>
        </a>  
    </div>

    <ul class="pagination justify-content-center mt-3">
        <li class="page-item"><a class="page-link" href="{% url 'Admin:add_healthcenter' %}">Tambah Tempat Layanan Kesehatan</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'Admin:delete_healthcenter' %}">Hapus Tempat Layanan Kesehatan</a></li>
    </ul>
</nav>
<br>

<p style="text-align: center">Last activity (refresh page to see the latest): {{ last_activity }}</p>
{% endblock content %}