{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Si Solo</title>
{% endblock meta %}

{% block content %}
<h1>Hello, world!</h1>
<hr>
<div class="member-list">
    <h3>Introducing Group B12:</h3>
    <ul>
        <li>Clarissa Thea Aryanto</li>
        <li>Fabian Akmal Arkandion</li>
        <li>Jasmine Indira Wibowo</li>
        <li>Mathilda Dellanova</li>
        <li>Rifqi Farel Muhammad</li>
        <li>Sakinah Richas</li>
    </ul>
</div>
<br>
<h3>This is our website for PBP group assignment</h3>
<p>Si Solo: Work in progress...</p>
{% endblock content %}
